@mixin pageStyling {
    min-height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    position: relative;
    background-color: #eeeeee;
    border-radius: 7px;
    display: flex;

    &__container {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        max-width: 1394px;
        min-height: 650px;
        margin: 0 auto;
        position: relative;
    }

    @media screen and (max-width: 1024px) {
        padding: 1rem;
    }
}