$main: #003366;

.hero {
    padding: 1.5rem;

    &--main{
        background-color: $main;
        padding: 0;
    }

    &-content{
        text-align: center;
    }

    @media screen and (max-width: 767px){

        &--main{
            padding: 170px 1rem 80px;
        }
    }
}