$main-color: #003366;

.hero {
    min-height: 75px;
    background-color: #eee;

    &--main{
        background-color: $main-color;
        min-height: 300px;
    }

    &-content{
        text-align: center;
    }

    @media screen and (max-width: 768px){
        padding: 91px 0;
    }
}