$main: #003366;

.hero {
    padding: 1.5rem;

    &--main{
        background-color: $main;
        padding:90px 0 0;
        height: 75vh;
        min-height: 550px;
        display: flex;
        align-items: center;
    }

    &-content{
        text-align: center;
    }

    @media screen and (max-width: 767px){

        &--main{
            height: 55vh;
            min-height: 450px;
        }
    }
}