$main: #003366;
$white: #ffffff;
$second: #c28944;

.headline {
    color: $white;
    max-height: calc(100vh - 182px);
    top: 91px;
    display: flex;
    flex-direction: column;
    padding-top: 90px;

    &__content {
        margin-top: auto;
    }

    &__text{
        line-height: 1;
        color: $white;

        b{
            font-weight: 700;
            color: $second;
        }
        h1{
            font-size: 3.5rem;
            font-weight:100;
            letter-spacing: -0.15rem;
            line-height: .9;
        }
        p{
            font-size: 1.5rem;
            display: inline-block;
            border-bottom: 2px solid $second;
        }
    }
    &__sub-text{
        margin-top: auto;
        color: #ccc;
        font-style: italic;
        h2{
            font-size: 2rem;
            font-weight: 700;
        }
        p{
            font-size: 1rem;
            line-height: 1.4;
        }
    }
    @media screen and (max-width:767px){
        max-height: 100%;
        max-width: 500px;
        margin: auto;
        padding-top: 0;

        &__text{
            h1{
                font-size: 1.5rem;
                font-weight:100;
                letter-spacing: -0.05rem;
                line-height: 1.1;
            }
            p{
                font-size: 1rem;
            }
        }

    }
    
}

.current-job{
    background-color: #eeeeee;
    color: $main;
    h1{
        font-weight:700;
        margin-bottom: 2rem;
    }
    &__title{
        display: inline-block;
        position: relative;
        margin-bottom: 75px;
        &:after{
            content: '';
            position: absolute;
            top: 100%;
            width: 2px;
            height: 70px;
            background-color: #777;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.5;
        }

        &:last-of-type{
            margin-bottom: 0;
            &:after{
                content: '';
                display: none;
            }
        }

    }

    &__company,
    &__duration {
        font-size: 2rem;
        font-style: italic;
    }

    &__company{
        text-align: left;
        display: block;
    }

    &__position{
        font-size: 5rem;
        line-height: 1;
        letter-spacing: -0.2rem;
        font-weight: 700;
        color: $main;
        display: inline-block;
    }
    &__duration{
        text-align: right;
        display: block;
    }

    &--md,
    &--sm {
        .current-job__position,
        .current-job__duration,
        .current-job__company {
            letter-spacing: normal;
            opacity: 0.65;
            color: #777;
        }
    }

    &--md{
        .current-job__position{
            font-size: 2rem;
        }
        .current-job__duration,
        .current-job__company {
            font-size: 1rem;
        }
    }
    &--sm{
        .current-job__position{
            font-size: 1rem;
        }
        .current-job__duration,
        .current-job__company {
            font-size: 0.75rem;
        } 
    }

    @media screen and (max-width:1024px){

        &__position{
            font-size: 2.5rem;
            letter-spacing: normal;
        }

        &__company,
        &__duration {
            font-size: 1rem;
            text-align: center;
        }

        &--md,
        &--sm{
            .current-job__position{
                font-size: 1.5rem;
                color: #777;
            }
            .current-job__duration,
            .current-job__company {
                font-size: 0.75rem;
            }
        }
    }

    @media screen and (max-width:767px){
        &__position{
            font-size: 1.5rem;
            letter-spacing: normal;
        }

        &__company,
        &__duration {
            font-size: 0.75rem;
        }

        &--md,
        &--sm{
            .current-job__position{
                font-size: 1rem;
            }
        }
        

    }
}