<nav class="nav z-50">
    <a [routerLink]="['/']" class="nav__logo">
        <img src="/assets/images/jablanc-logo.svg" alt="">
    </a>
    <button (click)="menuStatus()" class="nav__menu">
        <img src="/assets/images/menu-icon.svg" alt="">
    </button>
</nav>

<div class="nav__links" [class.nav__links--open]="openLinks">
    <button (click)="menuStatus()" class="nav__close-button">
        <img src="/assets/images/close-icon.svg" alt="">
    </button>

    <ul class="nav__link-list">
        <li class="nav__link hover:opacity-50">
            <a [routerLink]="['/']" routerLinkActive="nav__link--active" [routerLinkActiveOptions]="{exact:
                true}">
                Home
            </a>
        </li>
        <li class="nav__link hover:opacity-50">
            <a [routerLink]="['/projects']" routerLinkActive="nav__link--active" [routerLinkActiveOptions]="{exact:
                true}">
                Projects
            </a>
        </li>
        <li class="nav__link hover:opacity-50">
            <a [routerLink]="['/contact']" routerLinkActive="nav__link--active" [routerLinkActiveOptions]="{exact:
                true}">
                Contact
            </a>
        </li>
        <li class="nav__link hover:opacity-50">
            <a [routerLink]="['/writings']" routerLinkActive="nav__link--active" [routerLinkActiveOptions]="{exact:
                true}">
                Writings
            </a>
        </li>

    </ul>
</div>

<div class="nav-background" [class.nav-background--open]="openLinks"></div>

<button (click)="goToAnchor('top')" class="backUp transition ease-in-out" (window:scroll)="onWindowScroll($event)"
    [class.opacity-100]="displayElem" [class.opacity-0]="!displayElem">
    <mat-icon aria-hidden="false" aria-label="Menu">arrow_upward</mat-icon>
</button>