@import "../../../styles/colors";

.nav {
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    right: 0;

    &__logo,
    &__menu {
        padding: 25px 1.5rem;
        img{
            width: 35px;
        }
    }

    &__logo{
        img{
            width: 50px;
        }
    }

    &__links{
        position: fixed;
        top: 1.5rem;
        right: 0;
        left: 100%;
        transition: all 500ms ease-in-out;
        padding: 0 1.5rem;
        display: flex;
        z-index: 9;
        width: 100vw;

        &--open{
            left: 0;
        }
    }

    &__link-list{
        background: #7696A8 url('/assets/images/mini-circles.svg') no-repeat bottom right;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        padding: 100px 1rem 100px 123px;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
    }

    &__link{
        margin-bottom: 1rem;
        &:last-of-type{
            margin-bottom: 0;
        }
        a{
            font-family: 'Libre Baskerville';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 85px;
            letter-spacing: -0.02em;
            color: #FFFFFF;
        }

        &--active{
            color: #49C7C9 !important;
        }
    }

    &__close-button{
        position: absolute;
        top: 40px;
        right: 1.5rem;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;

        img{
            width: 29px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__link-list{
            padding: 100px 1rem;
            text-align: center;
        }
    }


}

.nav-background{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(3px);
    z-index: 7;
    transition: all 500ms ease-in-out;

    &--open{
        left: 0;
    }
}

.backUp{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9;
    background: $main;
    color: #fff;
    padding: 0.5rem;
    
}

@-webkit-keyframes swing-top-right-fwd {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 180deg);
              transform: rotate3d(1, 1, 0, 180deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes swing-top-right-fwd {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 180deg);
              transform: rotate3d(1, 1, 0, 180deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  