@import "../../../styles/colors";

.nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $main;

    &__logo{
        padding: 1rem  1.5rem;
        svg{
            width: 40px;  
        }
        border-right: 2px solid $main;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    &__link-list{
        display: flex;
        list-style: none;
        padding:1rem 1.5rem;
    }
    &__link{
        padding: 0 1rem;
        a {
            text-decoration: none;
            color: $main;
            text-transform: uppercase;
            opacity: 1;
            transition: 350ms ease-in-out;
            font-size: 0.875rem;
            &:hover,
            &.active-link {
                opacity: 0.5;
            }
        }
    }

    &--main{
        position: absolute;
        border-bottom: 2px solid $second;

        .nav__logo{
            border-right: 2px solid $second;
        }

        .nav__link{
            a{
                color: $white;
            }
        }
    }
}

.backUp{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9;
    background: $main;
    color: #fff;
    padding: 0.5rem;
    
}