<app-page-layout>
    <div class="container mx-auto text-center">
        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8">
            <div class="md:w-2/3 flex items-center mx-auto">
                <div class="w-full z-10 text-left py-16">
                    <app-section-header title="About Me" align="left"></app-section-header>
                    <h3 class="text-xl sm:text-2xl tracking-tight text-gray-500 mb-4">
                        I'm a frontend software engineer with over 6 years of professional
                        experience building modern user interfaces and experiences. 
                    </h3>

                    <p class="text-lg text-gray-500">
                        As a frontend software engineer, 
                        I have worked closely with product mangers and collaberated with designers to create 
                        polished web experiences. On a daily basis, I am either fixing bugs in projects, participating in 
                        code reviews, and/or developing new components.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-experiences id="experience"></app-experiences>
</app-page-layout>