<div class="container mx-auto px-3">
    <div class="py-6 flex md:z-40">
        <div class="w-full grid md:grid-cols-2 gap-4 ">
            <div *ngFor="let post of posts" class="blog-post-card mb-4 border-b-2 border-slate-500 p-6 shadow-lg">
                <a [routerLink]="['/post', post.id]">
                    <h1 class="text-4xl font-bold mb-1">{{post.title}}</h1>
                    <h3 class="text-lg mb-2">
                        <span class="d-inline mr-4">{{post.author}}</span>
                        <span class="d-inline mr-4">{{post.date}}</span>
                        <span class="d-inline mr-4">{{post.category}}</span>
                    </h3>
                    <p class="text-base text-gray-500">{{post.excerpt}}</p>
                </a>
            </div>
        </div>
    </div>
</div>