<section class="current-job py-16">
    <div class="container mx-auto px-3 text-center">
        <app-section-header title="My Work Experience" typedClass="experience" align="center"></app-section-header>

        <div class="flex flex-col">
            <div class="current-job__title relative py-2" *ngFor="let experience of experiences"
                [class.current-job__title--past]="!experience.recent">

                <span class="current-job__company text-left " [class.md:text-2xl]="!experience.recent"
                    [class.md:text-3xl]="experience.recent" [class.text-xl]="!experience.recent"
                    [class.text-2xl]="experience.recent">
                    {{experience.company}}
                </span>

                <span class="current-job__position tracking-tight" [class.md:text-3xl]="!experience.recent"
                    [class.md:text-5xl]="experience.recent" [class.text-2xl]="!experience.recent"
                    [class.text-3xl]="experience.recent">
                    {{experience.position}}
                </span>

                <span class="current-job__duration text-right " [class.md:text-2xl]="!experience.recent"
                    [class.md:text-3xl]="experience.recent" [class.text-xl]="!experience.recent"
                    [class.text-2xl]="experience.recent">
                    {{experience.dateStart}} - {{experience.dateEnd || 'Current'}}
                </span>
            </div>
        </div>


    </div>
</section>