<section class="current-job py-14">
    <div class="container mx-auto px-3 text-center">

        <div class="current-job__title relative ">
            <span class="current-job__company text-left">Westgate Resorts</span>
            <span class="current-job__position">Software Engineer III</span>
            <span class="current-job__duration text-right">2021 - Current</span>
        </div>

        <br>

        <div class="current-job__title current-job--md relative ">
            <span class="current-job__company text-left">Westgate Resorts</span>
            <span class="current-job__position">Software Engineer II</span>
            <span class="current-job__duration text-right">2019 - 2021</span>
        </div>

        <br>

        <div class="current-job__title current-job--sm relative ">
            <span class="current-job__company text-left">Global Tect Network</span>
            <span class="current-job__position">Creative Director / Frontend Developer</span>
            <span class="current-job__duration text-right">2017 - 2019</span>
        </div>

    </div>
</section>