@import "../../../styles/colors";

.current-job{
    background-color: #eeeeee;
    h1{
        font-weight:700;
        margin-bottom: 2rem;
    }
    &__title{
        display: inline-block;
        position: relative;
        margin-bottom: 75px;
        color: $main;
        &:after{
            content: '';
            position: absolute;
            top: 100%;
            width: 2px;
            height: 70px;
            background-color: #bbb;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.5;
        }

        &:last-of-type{
            margin-bottom: 0;
            &:after{
                content: '';
                display: none;
            }
        }

        &--past{
            color: #bbb;
        }

    }

    &__company,
    &__duration {
        font-style: italic;
        text-align: center;
        display: block;
    }

    &__position{
        font-weight: 700;
        display: inline-block;
    }

}