@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap');

$main: #003366;

.text-main{
    color: $main;
}

html, body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
}/* You can add global styles to this file, and also import other style files */

.container {
    width: 100%;
    max-width: 1024px;
    display: block;
    padding: 0 1rem;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 0 0.5rem;
    
}

$i: 12;
$class-name: 'col';
$col-width: 12;

@while $i > 0 {
    .#{$class-name}-#{$i} {
        width: ($i / $col-width) * 100%;
    }
    $i: $i - 1;
}

@media (max-width: 767px) {
    $m: 12;

    .row{
        flex-direction: column;
    }

    @while $m > 0 {
        .#{$class-name}-#{$m} {
            width: 100%;
        }
        $m: $m - 1;
    }
}

.hero-content{
    text-align: center;
    color: $main;
    padding: 0.5rem 2rem;
    border-bottom: 4px solid $main;
    max-width: 400px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    &:after{
        content: '';
        display: block;
        width: 100%;
        height:4px;
        background-color: $main;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 767px) {
    body.nav-fixed{
        position: fixed;
    }
}

