<app-hero heroClass="hero--main">
    <div class="container">
        <div class="row">
            <div class="col col-6">
                <div class="headline">
                    <div class="headline__text">
                        <h1>
                            Headline Text got to get the people goin'
                        </h1>
                    </div>
                    <div class="headline__sub-text">
                        <p>
                            This is the supporting text. Some text about ya boy. Somthin slight no pressha! Brief
                            description that descrbes who da hell I am and what Im here for. Ya, Dig!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-6">
                projects
            </div>
        </div>
    </div>
</app-hero>