@import "../../../styles/colors";

.project-image-card{

    margin-bottom: 1.5rem;
    &:last-of-type{
        margin-bottom: 0;
    }

    &__description{
        position:relative;
        z-index: 3;
        color: $main;
    }

    &__title{
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 1.3rem;
        color: $main;
        font-weight: 300;
        width: 100%;
        max-width: 400px;
    }

    &__actions{
        background-color: $white;
    }

    a {
        font-size: 20px;
        line-height: 26px;
    }

    &__image{
        perspective: 1000px;
    }
}