<div class="project-image-card relative flex flex-wrap">
  <div class="project-image-card__description text-left flex w-full">
    <h1 class="project-image-card__title p-8 mr-auto">
      {{ project.title }}
    </h1>
    <div class="ml-auto flex flex-col p-8 project-image-card__actions">
      <a [routerLink]="['/project', project.id]" class="mb-4 hover:opacity-50">Go to Details</a>
      <a href="{{ project.codeLink }}" class="hover:opacity-50">Go to Code</a>
    </div>
</div>

  <div
    class="project-image-card__image relative overflow-hidden w-full transition-all h-112 xl:h-112 text-center"
  >
    <img class="mx-auto"
      src="https://via.placeholder.com/800x500.png?text=Coming+Soon"
      *ngIf="!project.thumbnail"
    />
    <img class="mx-auto"
      src="{{ project.thumbnail }}"
      alt=""
      class="border"
      *ngIf="project.thumbnail"
    />
  </div>
</div>
