<div class="project-image-card relative flex flex-col">
    <div class="project-image-card__image relative overflow-hidden w-full transition-all h-112 xl:h-112">
        <img src="https://via.placeholder.com/750x469" alt="">
    </div>
    <div class="project-image-card__description text-left p-8 space-x-1 shadow-lg">
        <h2 class="text-sm text-white text-2xl font-bold text-white">{{project.id}}. {{project.title}}</h2>
        <p class="text-white">{{project.client}}</p>
        <a [routerLink]="['/project', project.id]" class="pt-2 block">Learn More</a>
    </div>
</div>