<div class="project-image-card relative flex flex-col">
    <div class="project-image-card__image relative overflow-hidden w-full transition-all h-112 xl:h-112">
        <img src="{{project.thumbnail}}" alt="">
    </div>
    <div class="project-image-card__description text-left p-8 space-x-1 shadow-lg">
        <h2 class="text-sm text-white text-2xl font-bold text-white">{{project.id}}. {{project.title}}</h2>
        <p class="text-white text-base">{{project.client}}</p>
        <div class="flex flex-wrap flex-col md:flex-row">
            <a [routerLink]="['/project', project.id]" class="pt-2 mr-4 block font-bold tracking-tight text-xl">Go to
                Details</a>
            <a href="{{project.codeLink}}" class="pt-2 block font-bold tracking-tight text-xl"
                *ngIf="project.codeLink">Go
                to Code</a>
        </div>
    </div>
</div>