<app-navigation [textClass]="color"></app-navigation>

<app-hero>
    <div class="project-details-card md:relative container mx-auto px-3">
        <div class="md:min-h-screen md:flex md:items-center">
            <div class="flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-10">
                <div class="headline md:w-1/2 flex items-end justify-between md:sticky">
                    <div class="w-full z-10">
                        <h1 class="headline__text tracking-tighter py-3 text-3xl md:text-5xl font-bold">
                            {{project.title}}
                        </h1>
                        <p class="mb-1"><span class="font-bold">Client:</span> {{project.client}} </p>

                        <p class="mb-1"> <span class="font-bold">URL:</span>
                            <span *ngIf="!project.url">N/A</span>
                            <a href="{{project.url}}" class="font-bold ml-1" *ngIf="project.url">Go to Site</a>
                        </p>

                    </div>

                    <div class="w-full text-left md:sticky md: mt-auto">

                        <div *ngIf="tools">
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <span *ngFor="let tool of tools"
                                    class="text-center p-2 border border-main text-lg font-bold">
                                    {{tool}}
                                </span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="md:min-h-screen py-6 md:py-12 items-center md:w-1/2 md:z-40">

                    <div class="mb-12">
                        <h1 class="w-full flex-none md:text-2xl text-xl leading-7 mb-2 font-bold tracking-tight">
                            Description
                        </h1>
                        <div class="text-gray-500 text-sm">
                            <h3 class="text-lg" [innerHTML]="projectDescription"></h3>
                        </div>
                    </div>

                    <div *ngIf="project.logo" class="mb-12">
                        <!-- <h1 class="w-full flex-none md:text-2xl text-xl leading-7 mb-3 font-bold tracking-tight">
                            Logo
                        </h1> -->
                        <img src="{{project.logo}}" alt="" />
                    </div>

                    <div class="mb-12" *ngIf="project.gallery.length > 0">
                        <!-- <h1 class="w-full flex-none md:text-2xl text-xl leading-7 mb-3 font-bold tracking-tight">
                            Gallery
                        </h1> -->
                        <img src="{{img}}" alt="" *ngFor="let img of project.gallery" class="mb-4" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</app-hero>

<app-contact></app-contact>