$main: #003366;

.project-details-card {
    h1{
        color: $main;
    }
}

.headline {
    color: $main;
    max-height: calc(100vh - 182px);
    top: 91px;
    display: flex;
    flex-direction: column;

    &__content {
        margin-top: auto;
    }

    &__text{
        font-size: 4rem;
        line-height: 1;
        font-weight: 700;
    }
    &__sub-text{
        font-size: .875rem;
        line-height: 1.4;
        margin-top: auto;
        color: #777;
    }
}