<app-navigation></app-navigation>

<app-hero isMain="true">
    <div class="md:relative container mx-auto px-3">
        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8">
            <div class="headline md:w-2/3 flex items-center mx-auto">
                <div class="headline__text  w-full z-10 text-center">
                    <h1 class="font-bold mb-2 md:mb-4 text-4xl md:text-6xl">Hello. I'm Jahmal Blanchard.
                    </h1>
                    <h3 class="text-lg sm:text-2xl">
                        I'm a <span>frontend</span>
                        focused <span>software engineer</span> with professional
                        experience in building modern <span>user interfaces</span> and
                        <span>experiences</span>.
                        <span class="underline block">Let's work together.</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</app-hero>

<div id="projects" *ngIf="projects.length > 0">
    <div class="container mx-auto">
        <div *ngFor="let project of projects" class="py-4 md:py-8 lg:py-16">
            <app-project-image-card [project]="project"></app-project-image-card>
        </div>
    </div>
</div>

<app-experiences id="experience"></app-experiences>

<app-blog id="blog" [posts]="posts" *ngIf="posts.length > 0"></app-blog>