@import "../../../../styles/colors";
@import "../../../../styles/page";

.headline {
    top: 91px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;

    &__content {
        margin-top: auto;
    }

    &__text{
        line-height: 1;
        color: white;

        
       
        p{
            font-size: 1.5rem;
            display: inline-block;
            border-bottom: 2px solid $second;
        }
    }
    &__sub-text{
        margin-top: auto;
        color: #ccc;
        font-style: italic;
        h2{
            font-size: 2rem;
            font-weight: 700;
        }
        p{
            font-size: 1rem;
            line-height: 1.4;
        }
    }
    @media screen and (max-width:767px){
        max-height: 100%;
        max-width: 500px;
    }
    
}

.home {
    @include pageStyling;

    &__illustration{
        position: relative;
        height: auto;
        flex: 100%;
        display: flex;
        padding: 2rem 1rem;
        margin: 3rem 0 0;
        z-index: 3;

        img {
            margin: 0 auto;
            z-index: 2;
            
            
            &.lion{
                max-width: 350px;
                width: 100%;
            }

            &.mini-circles{
                width: 100%;
                max-width: 528px;
                left: 50%;
                top: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
        }
    }

    &__box-illustration{
        width: 68px;
        height: 68px;
        background: #7696A8;
        position: absolute;
        z-index:2;
        border-radius: 4px;

        animation: rotateHoverEffect1  infinite 6s ease-in-out;
    }

    @keyframes rotateHoverEffect1 {
        0% {
            transform: translateY(0);
        }
        50%{
            transform: translateY(1.5rem);
        }
        100%{
            transform: translateY(0);
        }
    }

    @keyframes rotateHoverEffect2 {
        0% {
            right: 0
        }
        50%{
            margin-top: 1rem;
        }
        100%{
            margin-top: 0;
        }
    }

    &__box--teal{
        width: 45px;
        height: 45px;
        background: #49C7C9;
        opacity: 0.25;
        animation: rotateHoverEffect1 infinite 4s ease-in-out;
        filter: blur(2px);
    }

    &__box--text{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Libre Baskerville';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.02em;
        display: none;
        &:before{
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            border: 1px solid #7696A8;
            left: 10px;
            top: 10px;
            z-index: -1;
            border-radius: 4px;
        }
    }

    &__box--1{
        left: 44%;
        top: 81px;
    }

    &__box--2{
        left: 23%;
        top: 328px;
    }

    &__box--3{
        left: 10%;
        top: 244px;
        img{
            width: 51px;
        }
    }

    &__box--4{
        left: 19%;
        top: 416px;
    }

    &__box--5{
        right: 12%;
        top: 160px;
        font-size: 21px;
        line-height: 21px;
    }

    &__box--6{
        right:19%;
        top: 381px;
        img{
            width: 47px;
        }
    }

    &__box--7{
        right: 35%;
        top: 74px;
    }

    &__box--8{
        right: 8%;
        top: 295px;
    }

    &__box--9{
        right: 16%;
        top: 495px;
    }



    &__about,
    &__facts {
        flex: 50%;
        margin-top: auto;
        padding: 0 50px 25px 50px;
        font-weight: 300;
        color: #7696A8;
        
        h1,p{
            max-width: 435px;
        }

        h1{
            font-size: 36px;
            line-height: 38px;
            margin-bottom: 1.3rem;
        }

        p{
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__facts{
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h1{
            margin-bottom: 0;
        }

    }

    @media screen and (min-width: 768px){

        &__box--text{
            display: flex;
        }

        &__illustration{
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            margin: 0;
            width: 100%;
            max-width: 528px;
        }
    }

    @media screen and (max-width: 1024px) {

        &__about{
            flex: 100%;
            text-align: center;
            padding: 0 1rem 1rem;
            h1,p{
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__facts{
            display: none;
        }
        &__illustration{
    
            img {
                
                &.lion{
                    max-width: 250px;
                }
    
            }
        }
    }
}

