<app-navigation></app-navigation>

<app-hero isMain="true">
    <div class="md:relative container mx-auto px-3">
        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-8">
            <div class="headline md:w-5/6 flex items-center mx-auto">
                <div class="headline__text  w-full z-10 text-center">
                    <h1 class="font-bold mb-2 md:mb-4 text-6xl md:text-8xl tracking-tighter">
                        <span>Hello!</span> I'm<br>Jahmal, a...
                    </h1>
                    <h2 class="text-3xl md:text-6xl tracking-tight text-second font-bold">
                        <span class="typed"></span>
                    </h2>
                    <div class="mt-16">
                        <button class="block text-xl md:text-3xl font-medium text-white mx-auto hover:opacity-50"
                            (click)="goToContact()">Let's
                            work
                            together.<br>
                            <mat-icon aria-hidden="false" aria-label="Clear" class="text-2xl">
                                keyboard_arrow_down
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-hero>

<div id="projects" *ngIf="projects.length > 0" class="py-16">
    <div class="container mx-auto">
        <app-section-header title="Some of my latest work" typedClass="projects"></app-section-header>
        <div *ngFor="let project of projects" class="mb-8">
            <app-project-image-card [project]="project"></app-project-image-card>
        </div>
    </div>
</div>

<app-experiences id="experience"></app-experiences>

<app-blog id="blog" [posts]="posts" *ngIf="posts.length > 0"></app-blog>

<app-contact id="contact"></app-contact>