@import "../../../../styles/colors";

.headline {
    top: 91px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;

    &__content {
        margin-top: auto;
    }

    &__text{
        line-height: 1;
        color: white;

        
       
        p{
            font-size: 1.5rem;
            display: inline-block;
            border-bottom: 2px solid $second;
        }
    }
    &__sub-text{
        margin-top: auto;
        color: #ccc;
        font-style: italic;
        h2{
            font-size: 2rem;
            font-weight: 700;
        }
        p{
            font-size: 1rem;
            line-height: 1.4;
        }
    }
    @media screen and (max-width:767px){
        max-height: 100%;
        max-width: 500px;
    }
    
}

